*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.container h1{
    font-size: 32px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #e63946;
    position: relative;
    transition: all .2s ease;
    cursor: pointer;
}



/* .head-element::after{
    content: "";
    background-color: #e63946;
    display: flex;
    width: 0px;
    height: 5px;
    position: absolute;
    right: 0;
    bottom: -20%;
    transition: all .5s ease;
}



.head-element:hover::after{
    content: "";
    background-color: #e63946;
    display: flex;
    width: 100px;
    height: 5px;
    position: absolute;
    right: 0;
    bottom: -20%;
}


.head-element::before{
    content: "";
    background-color: #fcbf49;
    display: flex;
    width: 0px;
    height: 5px;
    transition: all .5s ease;
}


.head-element:hover::before{
    content: "";
    background-color: #fcbf49;
    display: flex;
    width: 100px;
    height: 5px;
} */



:is(p, .container  .text)
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    background-color: #2b2d42;
    padding: 16px;
}

:is(ol,ul) li{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    background-color: #2b2d42;
    padding: 16px;
}

.head-element::selection{
    background-color: #fcbf49;
    color: #fff;
}


@keyframes passToLeft {
    from{
        transform: translate(-1400px);
    }
    to{
        transform: translate(0);
    }
}

.head-element{

    animation: passToLeft 3s ease;
    animation: name duration timing-function delay iteration-count direction fill-mode;
    /* animation-name: passToLeft;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: both;
    transform: translate(-300px); */
}


@keyframes increaseWidth {
    0%{
        width: 10px;
    }
    25%{
        width: 20;
    }

    50%{
        width: 50;
    }
    75%{
        width: 75;
    }

    100%{
        width: 100px;
    }

    
}

.head-element::after{
    content: "";
    background-color: #e63946;
    display: flex;
    height: 5px;
    position: absolute;
    right: 0;
    bottom: -20%;
    transition: all .5s ease;
    animation: increaseWidth 1s ease 3s 1 alternate forwards;
}

.head-element::before{
    content: "";
    background-color: #fcbf49;
    display: flex;
    width: 0px;
    height: 5px;
    transition: all .5s ease;
    animation: increaseWidth 1s ease 3s 1 alternate forwards;
}



@keyframes changeLetterColor {
 0%{
    color:#e63946 ;
 }

 50%{
    color: #354f52;
 }

 100%{
    color: #14213d;
 }
    
}
:is(.head-element) h1,span{
    animation: changeLetterColor 2s ease 3s 2 alternate forwards;
}