 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
.box{
    width: 300px;
    height: 300px;
    margin: 10px 16px;
    line-height: 300px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    display: block;
}


.box-1{
    background-color: #ef233c;
    float: left;
    opacity: 1;
}

.box-2{
    background-color: #83c5be;
    float: left;
}

.content{
    width: 200px;
    height: 200px;
    margin: 10px 16px;
    padding: 13px;
    background-color: #006d77;
    font-size: 20px;
    color: #fff;
    display: block;
    z-index: 99999
}



.text{
    width: 400px;
    height: 600px;
    border: 3px solid #000;
    margin: 10px;
    padding: 13px;
    overflow: auto;
} */

/*===================POSITIONS=================*/


.container{
    border: 3px solid #000;
    width: 1200px;
    height: 900px;
    margin: 100px;
     position: relative; 
}

.box{
    width: 300px;
    height: 300px;
    /* margin: 10px 16px; */
    line-height: 300px;
    text-align: center;
    font-size: 24px;
    color: #fff;

}


.box-1{
    background-color: #ef233c;
    position: relative;
    display: inline-block;
    margin: 400px;
    width: 300px;
    left:100%;
    top:0;
}

.box-2{
    background-color: #83c5be;
    position: absolute;
    bottom: 50%;
    left: 50%;
}
